<div class="container-fluid">
  <div class="row">
    <main class="col-8 px-0">

      <!-- image -->
      <swiper-container appSwiper #swiper [config]="swiperConfig" thumbs-swiper=".mySwiper2" (slidechange)="slideChange($event)">
        <swiper-slide *ngFor="let item of contents">
          <div class="ratio ratio-4x3" [ngStyle]="{background: 'url(' + item.url +') no-repeat top center / contain'}"></div>
        </swiper-slide>
      </swiper-container>
      <!-- /image -->

      <!-- thumbnails -->
      <swiper-container appSwiper #swiperThumbs [config]="swiperThumbsConfig" class="mySwiper2" *ngIf="contents.length > 1">
        <swiper-slide *ngFor="let item of contents">
          <div class="ratio ratio-4x3" role="button" [ngStyle]="{background: 'url(' + item.url +') center / cover'}"></div>
        </swiper-slide>
      </swiper-container>
      <!-- /thumbnails -->

    </main>

    <!-- description -->
    <aside class="col-4 p-4">

      <h3 [textContent]="contents[index].title"></h3>
      <p [textContent]="contents[index].description"></p>

    </aside>
    <!-- /description -->

  </div>
</div>
